*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	color: #1c1c1c; 
	background-color: #EDEDED;
}
.offset:before{
	display: block;
	content: "";
	height: 3rem;
}

/*--Navigation--*/

.navbar{
	text-transform: uppercase;
	font-size: .9rem; 
	letter-spacing: .1rem;
	background-color: black !important ;
	height: 4rem;
}
.navbar-brand{
	height: 2em;
	padding-top: .8rem;
	font-family: 'Monoton', sans-serif;
	letter-spacing: .2rem;
	margin-left: 70px;
	font-size: 2.4em;
}
.navbar-toggler{
	margin-bottom: 18px;
}
.navbar-collapse{
	width: 100%;
}
.navbar-brand:hover{
	color: 	#2c4bff;
}
.navbar-nav li{
	padding-right: .7rem;
}
.nav-item a{
	font-weight: bold;
}
#navbarNav{
	padding-right: 70px;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover{
	color: 	#2c4bff;
}
/*--End navigation--*/

/*--Landing page--*/
.home-inner{
	background-image: url(img/create.jpg); 
}
.caption{
	width:100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	left: 10%;
	z-index: 1;
	color: white;
	text-transform: uppercase;
}

.caption h1{
	padding-bottom: .9rem;
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
}
.caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}
.btn{
	border-width: medium;
	border-radius: 2px;
	font-size: 1.05rem;
	text-transform: uppercase;
	padding-top: .6rem 1.2rem;
	font-weight: bold;
	letter-spacing: .05rem;
	
}
.btn:hover{
	background-color: #2c4bff;
	border-color: #2c4bff;
	color: white;
}
/*--End landing--*/

/*--Feature--*/
.narrow{
	width: 90%;
	margin: 1.5rem auto;
	padding-top: 2rem;
}
#bio .row{
	padding: 0 10%;
}
h3.heading{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	padding-top: 2rem;

}
.heading-underline{
	width: 3.5rem;
	height: .15rem;
	background-color: #2c4bff;
	margin: 0 auto 2rem;
}
.feature {
	color: #2c4bff;
	padding-bottom: 10.5rem;
	padding-top: 1.3rem;
}
h3{
	font-size: 1.35rem;
	font-weight: 900;
}

.fixed-background p{
	font-size: .9em;
	font-weight: 1.2rem;
	padding-bottom: 8rem;
}
/*--End feature--*/

/*--Project section--*/
#project{
	background-color: #e0e0e0;
}
#project .contanier{
	padding-bottom: 160px;
	margin-bottom: 0;
}
.p-wrapper{
	position: relative;
	overflow: hidden;
	height: 240px;
	box-shadow: .5px .5px 8px grey;

}
.text-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #101010;
	opacity: 0;
}
.p-wrapper:hover .text-overlay{
	display: flex;
	opacity: 1;

}
.text-overlay .overlay-button{
	color: #fff;
	text-align: center;
	display: flex;
	font-weight: bold;
	border-radius: 5px;
	border: 1.5px solid #2c4bff;
	padding: .5rem 1rem;
	display: inline-block;
	font-size: 1.2em;
	margin: 0 .5rem;
	margin-bottom: .5rem;
	min-width: 6em; 
	transition: .5s ease;
	text-decoration: none;
	z-index: 200;

}

.overlay-button:hover{
	border-color: #2c4bff;
	background-color: #2c4bff;
	color:white;
}


.img-wrapper{
	width: 100%;
	height: 100%;
}
.img-wrapper img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
	transition: ease .8s;
}
.p-wrapper:hover .img-wrapper img{
	opacity: .05;
}
.arrow-right{
	padding-left: 5px;
}

/*--End Project--*/

/*--Contact section--*/
#contact{
	background-color: #f1f1f1;
	text-align: center;
	padding: 7.5em 0;
}
.c-wrap {
	margin: 0 auto;
	width: 90%;
	max-width: 1600px;
}
.c-wrap h2{
	letter-spacing: 4px;
	font-size: 3.2em;
	margin-bottom: .6em;
	font-weight: bold;
	text-transform: uppercase;
}
.c-wrap p{
	font-weight: bold;
	font-size: 1.3em;
	padding: 0 20%;
	color: #111111;
	margin-top: 1em;

}
.c-wrap .button{
	border-radius: 3px;
	border: 2px solid #2c4bff;
	padding: .5rem .5rem;
	display: inline-block;
	font-size: 1rem;
	margin: 0 1rem;
	min-width: 8em;
	text-decoration: none;
}
.c-wrap .button:hover {
	border-color: #2c4bff;
	background-color: #2c4bff; 
	transition: .5s; 
}

#send-mail{
	color: #2c4bff;
	position: relative;
	margin: 3em auto 5em auto;
	font-size: 1.2em;
	font-weight: bold;
}
#send-mail:hover{
	color: white;
}
.social-media{
	display: table;
	margin: 0 auto;
}
.social-link{
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	padding-left: 0;
	margin-bottom: 0;
}
.social-link li{
	float: left;
	border-right: 1px solid ;
	list-style: none;
}
.social-link li:last-child{
	border-right: none;
}
.social-link a{
	font-size: .9em;
	display: block;
	color: black;
	text-decoration: none;
	margin: 0 15px;
	line-height: 1em;
	letter-spacing: .1em;
	font-weight: bold;
}
.social-link a:hover{
	transform: scale(1.05);
	transition: all .3s ease-in-out; 
}
/*--End contact--*/

/*--Footer section--*/
footer{
	background: #F5F5F5;
	color: #767676; 
}
.bar{
	border: 1px solid #e0e0e0;
}
.copyright-text {
  font-size: .9rem;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: .07rem;
}
.copyright-text span{
	color: #2c4bff;
}
/*--End contact


/*-- Media queries--*/

@media (min-width: 768px) and (max-width: 991px){

	.fixed-top{
		position: static;
	}
	.copyright-text{
		font-size: .85rem;
		letter-spacing: .05rem;
	}
	.navbar-brand{
		padding-top: .2rem;
	}
}
@media (max-width: 1024px){
	.navbar-brand{
		margin-left: 0;
	}
	#navbarNav{
		padding-right: 0;
	}
	.c-wrap h2{
		font-size: 2.8em;
	}
	.c-wrap p{
		padding: 0 5%;
	}
} 
@media (max-width: 767px){
	.fixed-top{
		position: static;
	}
	.navbar-brand{
		padding-top: 0.2rem;
	}
	.caption{
		left: 0;
		text-align: center;
	}
	.caption h1{
	font-size: 2.3rem;
	font-weight: 700;
	letter-spacing: .15rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: .5rem;
	}
.caption h3{
	font-size: 1.2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.2rem;
	}
.btn{
	border-width: medium;
	border-radius: 0;
	font-size: 1rem;
	text-transform: uppercase;
	padding-top: .5rem 1.1rem;
	font-weight: bold;
	letter-spacing: .05rem;
	}
h3.heading{
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	padding-top: 1.8rem;
	}
.heading-underline{
	width: 3rem;
	height: .125rem;
	background-color: #2c4bff;
	margin: 0 auto 1.5rem;
	}
h3{
	font-size: 1.1rem;
	font-weight: 900;
	}
.row p{
	font-size: 1rem;
	}
	.feature{
		padding-bottom: 5rem;
	}
.c-wrap{
	font-size: .8rem;
}
.social-link li{
	width: 100%;
	padding: 1.25em 0;
	border-right: 0;
	border-bottom: 1px solid black;
}
.social-link a:hover{
	border-bottom: 0;
}
.copyright-text{
	font-size: .775rem !important;
	letter-spacing: .02rem;
}
}

