html{
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	color: #F7F7F7; 
	background-color: #0A0A0A;
}
.offset:before{
	display: block;
	content: "";
	height: 4rem;
	margin-top: -4rem;
}

/*--Navigation--*/
.navbar{
	text-transform: uppercase;
	font-size: .9rem; 
	letter-spacing: .1rem;
	background: rgba(0,0,0,0.9)!important;
}
.navbar-brand{
	height: 2.2em;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: 'Orbitron', sans-serif;
	margin-left: 70px;
	font-size: 2.3em;
}
.navbar-brand:hover{
	color: #DAA520;
}
.navbar-nav li{
	padding-right: .7rem;
}
#navbarNav{
	padding-right: 70px;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover{
	color: 	#DAA520;
}
/*--End navigation--*/

/*--Landing page--*/
.home-inner{
	background-image: url(img/home.png); 
}
.caption{
	width:100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
	color: white;
	text-transform: uppercase;
}

.caption h1{
	padding-bottom: .9rem;
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
}
.caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}
.btn{
	border-width: medium;
	border-radius: 0;
	font-size: 1.05rem;
	text-transform: uppercase;
	padding-top: .6rem 1.2rem;
	font-weight: bold;
	letter-spacing: .05rem;
	
}
.btn:hover{
	background-color: #DAA520;
	border-color: #DAA520;
	color: black;
}
/*--End landing--*/

/*--Feature--*/
.narrow{
	width: 90%;
	margin: 1.5rem auto;
	padding-top: 2rem;
}
.contanier{
	margin-bottom: 0;
	padding: 2rem 0 3.5rem;
}
h3.heading{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	padding-top: 2rem;

}
.heading-underline{
	width: 3.5rem;
	height: .15rem;
	background-color: #DAA520;
	margin: 0 auto 2rem;
}
.feature {
	color: #DAA520;
	padding-bottom: 1.3rem;
	padding-top: 1.3rem;
}
h3{
	font-size: 1.35rem;
	font-weight: 900;
}

.fixed{
	background-image: url(img/img1.png);
	z-index: -1;
	width: 100%;
}
.dark{
	background-color: rgba(0,0,0,0.65);
	color: white;
	padding: 8rem 2rem;
}
fixed-background p{
	font-size: .8em;
	font-weight: 1.1rem;
	padding-bottom: 5rem;
}
/*--End feature--*/

/*--Project section--*/
.project-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
.project-info{
	padding:30px ;
	flex-basis: 50%;
	background-color: #262626;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
.project-info h2{
	padding-bottom: 5px; 
	font-weight: bold;
}
.project-img{
	height: 300px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}
.project-img:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #272727;
	opacity: .4;
}
 .project-img:hover img{
	transform: scale(1.1);
}
.project-img img{
	transition: .3s ease ;
}
/*--End Project--*/

/*--Contact section--*/
footer{
	padding: 2rem 0 ;
	margin-top: .5rem;
}
/*--footer #logo{
	height: 3rem;
	margin: 1.5rem 0;
	font-family: 'Orbitron', sans-serif;
}--*/
footer a{
	color: white;
}
.icon {
  width: 30px;
}
.icon:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.copyright-text {
  font-size: 1.3rem;
}
/*--hr.socket{
	width: 100%;
	border-top: .2rem solid #666b71;
	margin-top: 3rem;
}-*/
/*--End contact


/*-- Media queries--*/

@media (min-width: 768px) and (max-width: 991px){
	.navbar-brand{
		margin-left: 0;
	}
}

@media (max-width: 767px){
	.navbar-brand{
	height: 2em;
	padding-top: .5rem;
	font-family: 'Orbitron', sans-serif;
	font-size: 2em;
	margin-left: 0;
	}
	.caption h1{
	font-size: 2.3rem;
	font-weight: 700;
	letter-spacing: .15rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: .5rem;
	}
.caption h3{
	font-size: 1.2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.2rem;
	}
.btn{
	border-width: medium;
	border-radius: 0;
	font-size: 1rem;
	text-transform: uppercase;
	padding-top: .5rem 1.1rem;
	font-weight: bold;
	letter-spacing: .05rem;
	}
h3.heading{
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	padding-top: 1.8rem;
	}
.heading-underline{
	width: 3rem;
	height: .125rem;
	background-color: #DAA520;
	margin: 0 auto 1.5rem;
	}
h3{
	font-size: 1.1rem;
	font-weight: 900;
	}
.row p{
	font-size: 1rem;
	}

}

